#Fichiers compilés
*.class

#Gradle dans /appli
appli/.gradle
appli/build
appli/bin
appli/.vscode
base-de-donnees/Pubert_Esnault_DaRocha_Leborgne_1B1/*
base-de-donnees/Pubert_Esnault_DaRocha_Leborgne_1B1.zip